*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #757575;
  --background-icon-color: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
}

section {
  padding: 94px 0 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.hide {
  opacity: 0;
  font-size: 0px;
  line-height: 0px;
  display: none;
  color: transparent;
  visibility: hidden;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

li {
  list-style-type: none;
}

.logo-accent {
  color: var(--accent-color);
}

.link-current {
  position: relative;
  color: var(--accent-color);
}

.link-current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  top: 77px;
}

[Type="button"]:hover,
[Type="button"]:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-studio {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-hdr {
  color: var(--primary-text-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-block {
  display: flex;
}

.site-nav {
  display: flex;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.logo-hdr {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a,
.contact-nav a {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav-item:not(:last-child) {
  margin-right: 50px;
}

.mail-hdr,
.tel-hdr {
  display: flex;
  align-items: center;
  color: #757575;
  fill: #757575;
}

.icon-mail {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.icon-tel {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.order {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-container {
  text-align: center;
}

.above-btn-txt {
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  margin: auto;
  margin-bottom: 30px;
  width: 696px;
}

.order-btn {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features-list-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--background-icon-color);
}

.features-list-icon {
  width: 70px;
  height: 70px;
  fill: var(--primary-text-color);
}

.features h3 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.features p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* УСЛУГИ */

.service h2 {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.service-list {
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
  position: relative;
}

.service-list-item {
  margin-left: 30px;
  margin-top: 30px;
}

.service-list-item:not(:first-child) {
  margin-left: 30px;
}

.service-img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.service-list-text-block {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.team {
  background-color: #f5f4fa;
  margin-bottom: 6px;
  padding-bottom: 88px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list-item {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team h2 {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team h3 {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team p {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-list-item {
  width: 44px;
  height: 44px;
}

.team-social-list-item:not(:last-child) {
  margin-right: 10px;
}
.team-social-list-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-item-link:hover,
.team-social-list-item-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Clients */

.clients-container {
  width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.clients-header {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -30px;
}

.clients-list-item {
  margin-left: 30px;
}

.clients-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item-link:hover,
.clients-list-item-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

/* Footer */
footer {
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
  padding: 60px 15px;
}

.footer-logo-adress {
  margin-right: 70px;
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-links-item {
  width: 44px;
  height: 44px;
}

.footer-social-links-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-links-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #43444d;
  fill: var(--primary-white-color);
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-link:hover,
.footer-social-links-link:focus {
  background-color: var(--accent-color);
}

.logo-ftr {
  display: flex;
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
}

.adress-ftr {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

footer a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-ftr,
.tel-ftr {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.adress-item:not(:last-of-type) {
  margin-bottom: 9px;
}

.portfolio-content {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  width: max-content;
  height: 38px;
  border-radius: 4px;
  border-color: var(--primary-white-color);
  background-color: rgba(245, 244, 250, 1);
  font-family: "Roboto";
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  border-width: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter > li:not(:last-child) {
  margin-right: 8px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.products-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover,
.products-item:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.products h2 {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.products p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
}

.products-item-link .products-item-overlay {
  position: relative;
  overflow: hidden;
}

.products .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  height: 100%;
  line-height: 1.56;
  font-size: 18px;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item-link:focus .overlay-text,
.products-item-link:hover .overlay-text {
  transform: translateY(0);
}

.products-photo-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}

.main-portfolio h1 {
  display: none;
}

address {
  font-style: normal;
}

/* MODAL */

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: visibility 700ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: rotate(180deg) scale(3);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}
